* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/bg-hero.png);
}

/* Header Style */

.header {
  width: 100%;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 10px;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 12px;
}
.nav-item a {
  height: 38px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
}
.header-btns {
  display: flex;
  gap: 10px;
}
.btn {
  width: 180px;
  height: 60px;
  padding: 10px 17px;
  border-radius: 20px;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.header-btns .login {
  background-color: #cbffd0;
}
.header-btns .signup {
  background-color: #26a69a;
}

/* Main Content */
#container-hero {
  width: 100%;
  height: 90vh;
  display: flex;
  padding-left: 30px;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}
.hero-left {
  margin-bottom: 30px;
}
.hero-left h1 {
  width: 750px;
  font-weight: 800;
  font-size: 65px;
  line-height: 100%;
  margin-bottom: 20px;
}
.hero-left p {
  width: 800px;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
}
.app-btns {
  width: 465px;
  height: 70px;
  display: flex;
  gap: 25px;
  margin-top: 60px;
}
.apple-btn {
  cursor: pointer;
}
.google-btn {
  cursor: pointer;
}

/* Hero Section */
.hero-right {
  position: relative;
}
.green-shape {
  position: absolute;
  width: 390px;
  height: 570px;
  top: -250px;
  left: -390px;
  background-color: #cbffd0;
  border-top-left-radius: 300px;
  overflow: hidden;
}
.overlay-img {
  position: absolute;
  top: -250px;
  left: -450px;
}

/* Our Features Section */
#our-features {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  z-index: 500;
  padding-bottom: 80px;
  box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -10px 30px 1px rgba(0, 0, 0, 0.25);
}
.our-features-left {
  position: relative;
}
.darkgreen-shape {
  position: absolute;
  width: 410px;
  height: 610px;
  background-color: #26a69a;
  border-bottom-right-radius: 300px;
}
.overlay-img2 {
  position: absolute;
  top: 120px;
}
.our-features-right {
  margin-right: 80px;
}
.our-features-right h2 {
  width: 362px;
  height: 72px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  margin-top: 30px;
}
.our-features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
.grid-item {
  width: 300px;
  height: 320px;
  padding: 20px;
  border-radius: 27px;
}
.lg-item {
  background-color: #cbffd0;
}
.dg-item {
  background-color: #26a69a;
}
.grid-item h4 {
  font-weight: 700;
  font-style: bold;
  font-size: 27px;
  line-height: 100%;
  margin-bottom: 10px;
}
.grid-item p {
  width: 250px;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 100%;
}

/* How It Works Section */
#how-it-works {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 30px;
  overflow: hidden;
}
.how-it-works h2 {
  font-weight: 700;
  font-size: 48px;
  font-style: bold;
  line-height: 100%;
  text-align: center;
}
.how-it-works-content {
  display: flex;
  flex-direction: column;
  gap: 170px;
  position: relative;
}
.one-two {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.one p {
  width: 500px;
  height: 70px;
  display: inline-flex;
  background-color: #cbffd0;
  border-radius: 27px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
}
.two p {
  width: 500px;
  height: 70px;
  display: inline-flex;
  background-color: #cbffd0;
  border-radius: 27px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
}
.three-four {
  display: flex;
  justify-content: space-around;
}
.three p {
  width: 500px;
  height: 70px;
  display: inline-flex;
  background-color: #26a69a;
  border-radius: 27px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
}
.four p {
  width: 500px;
  height: 70px;
  display: inline-flex;
  background-color: #26a69a;
  border-radius: 27px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
}
.hiw-img {
  position: relative;
  display: flex;
}
.hiw-green-shape {
  width: 1150px;
  height: 367px;
  margin: 0 auto;
  background-color: #cbffd0;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}
.overlay-img3 {
  position: absolute;
  bottom: -420px;
  left: 590px;
}

/* Testimonials Section */
#testimonials {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  height: 100%;
  box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -10px 30px 1px rgba(0, 0, 0, 0.25);
}
.testimonials-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.testimonials-dgreen-shape-left {
  width: 351px;
  height: 390px;
  background-color: #26a69a;
  border-bottom-right-radius: 300px;
}
.testimonials-mid {
  margin-top: 48px;
}
.testimonials-mid h2 {
  font-weight: 700;
  font-style: bold;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
}
.testimonial-cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 132px;
}
.cards-lg {
  width: 400px;
  height: 100%;
  background-color: #cbffd0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  border-radius: 27px;
  text-align: center;
  padding: 20px 10px;
  margin-top: 149px;
}
.cards-lg p {
  width: 360px;
  margin-top: 5px;
}
.cards-lg span {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  margin-top: 10px;
}
.card-dg {
  width: 450px;
  height: 100%;
  background-color: #26a69a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 100%;
  border-radius: 27px;
  text-align: center;
  padding: 20px 10px;
  margin-top: 74px;
}
.card-dg p {
  width: 360px;
  margin-top: 15px;
}
.card-dg span {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  margin-top: 10px;
}
.profile-icon {
  margin-bottom: 10px;
}
.testimonials-dgreen-shape-right {
  width: 351px;
  height: 390px;
  background-color: #26a69a;
  border-top-left-radius: 300px;
  align-self: self-end;
}

/* FAQS Section */
#faqs {
  width: 100%;
  display: flex;
  flex-direction: space-between;
  padding-bottom: 100px;
}
.faqs-lgreen-shape-left {
  width: 300px;
  height: 490px;
  background-color: #cbffd0;
  border-bottom-right-radius: 300px;
}
.faqs-content {
  margin-left: 80px;
}
.faqs-content h2 {
  width: 362px;
  height: 72px;
  font-weight: 700;
  font-style: bold;
  font-size: 48px;
  line-height: 100%;
  margin-top: 100px;
}
.faqs-list {
  width: 790px;
  height: 610px;
  background-color: #26a69a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 37px;
  padding: 33px 30px;
  margin-top: 40px;
}
.faq-item {
  width: 730px;
  height: 100%;
  background-color: #cbffd0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 30px;
  border-radius: 27px;
  font-weight: 500;
  font-style: medium;
  font-size: 37px;
  line-height: 100%;
}

/* Last Section */
#last-section {
  width: 100%;
  background-color: #26a69a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 50px;
}
.footer-logo {
  width: 222px;
  height: 210px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.logo-text{
  display: flex;
}
.logo-text p {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  line-height: 100%;
}
.logo-text span {
  font-weight: 700;
  font-style: bold;
  font-size: 45px;
  line-height: 100%;
}
#last-section p {
  font-weight: 600;
  font-size: 43px;
  line-height: 100%;
}
.social-icons {
  display: flex;
  gap: 48px;
  align-items: center;
  margin-top: 28px;
}
.footer-app-btns {
  width: 465px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 32px;
  margin-bottom: 53px;
}
.contact-support {
  display: flex;
  gap: 14px;
  align-items: center;
}
.contact-support p {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
}
.footer-links{
  display: flex;
  margin-top: 30px;
}
.link{
  width: 481px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link a{
  text-decoration: underline;
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
}
